.card {
  max-width: 300px;
  border: 1px solid #cfcbd0;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  position: relative;
  min-height: 480px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;

  .card-container-checkbox {
    position: absolute;
    top: -4px;
    left: 6px;
    background: #000000;
    height: 36px;
    width: 40px;
    border-radius: 0.5rem 0.5rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    // triangle
    &:before {
      content: "";
      position: absolute;
      top: 36px;
      left: 0;
      background-color: inherit;
      padding-bottom: 50%;
      width: 57.7%;
      z-index: -1;
      cursor: pointer;

      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;

      -webkit-transform: rotate(-30deg) skewX(30deg);
      -ms-transform: rotate(-30deg) skewX(30deg);
      transform: rotate(-30deg) skewX(30deg);
      z-index: 1;
      border-radius: 0 0 0 1px;
    }

    // hide input
    input {
      display: none;
      position: absolute;

      &:checked ~ svg {
        fill: #ff3c3c;
        transform: scale(1.15);
      }
    }

    svg {
      fill: #fff;
      transition: all 200ms cubic-bezier(0.57, 1.9, 0, 1.52);
      transition-delay: 0s;
      position: absolute;
      top: 10px;
      z-index: 2;
    }
  }

  .card-button-close {
    position: absolute;
    right: 4px;
    top: 4px;
    cursor: pointer;
    appearance: none;
    background: transparent;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    height: 30px;
    transition: all 200ms cubic-bezier(0.57, 1.9, 0, 1.52);
    
    &:active {
      transform: scale(1.15);
    }
  }

  .card-img {
    border-radius: 7px 7px 0 0;
    width: 100%;
    display: block;
  }

  .card-body {
    .title {
      margin: 0.5rem 0.5rem 3rem;
    }

    .price {
      color: #eee12d;
      font-weight: 600;
      margin: 0;
    }
  }
}
