.home {
  .home-title {
    margin: 0 0 1.5rem;
    text-align: start;
    font-weight: 900;
  }

  .home-loading {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  .home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 2rem 1rem;
    justify-items: center;

    // fix ie11 layout
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; 

      > article {
        width: 300px;
        margin-bottom: 2rem;
      }
    }

    @media (max-width: 768px) {
      gap: 1rem;
      grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    }
  }
}
