.home {
  .home-title {
    margin: 0 0 2rem;
    text-align: start;
    font-weight: 900;
  }

  .home-loading {
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }

  .home-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 32px 16px;
    justify-items: center;

    @media (max-width: 768px) {
      gap: 16px;
      grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    }
  }
}
